.o_dashboard_view {
    height: 100%;
    @include o-webclient-padding($top: $o-horizontal-padding/2, $bottom: $o-horizontal-padding/2);
    display: flex;
    >.gridster {
        >ul {
            >li {
                text-align: center;
                list-style: none outside none;
            }
        }
    }
    .updated_at {
        font-size: 15px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
    }
    .gs-w {
        padding: 10px;
    }
    .centered {
        position: absolute;
        left: 0;
        right: 0;
    }
    .numbervalue {
        text-transform: uppercase;
        font-size: 76px;
        font-weight: 700;
    }
    .change-rate {
        font-weight: 500;
        font-size: 30px;
    }
    .GaugeMeter {
        position: relative;
        text-align: center;
        left: 0;
        right: 0;
        overflow: hidden;
        cursor: default;
        span, b{
            margin:	0 23%;
            width: 54%;
            position: absolute;
            text-align: venter;
            display: inline-block;
            color: RGBa(0,0,0,.8);
            font-height: 100;
            font-family: "Open Sans", Arial;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        [data-style="Semi"] B{
            Margin: 0 10%;
            Width: 80%;
        }
        S, U{
            Text-Decoration:None;
            Font-Size: .30em;
            Font-Weight: 200;
            Opacity: .6;
        }
        B{
            Color: Black;
            Font-Weight: 200;
            Font-Size: 0.85em;
            Opacity: .8;
        }
    }

}
